#navbarContent {
    padding-left: 1em;
}

 /* because of the weird way ngb-collapse animations work, it was causing some weird issues on full-sized screens where
    clicking on an element in the navbar would cause weird animations */
 .no-animation {
     animation: none !important;
     transition: none !important;
 }