<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="#">nateowen.net</a>
    <button class="navbar-toggler" type="button" (click)="collapseMenu()">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="isCollapsed">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
                <a class="nav-item nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
                <a class="nav-item nav-link" [routerLink]="['/blog']" routerLinkActive="router-link-active">Blog</a>
                <a class="nav-item nav-link" [routerLink]="['/projects']" routerLinkActive="router-link-active">Projects</a>
                <a class="nav-item nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>
            </div>
    </div>
</nav>