<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="#">nateowen.net</a>
    <div class="collapse navbar-collapse">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="#">Home</a>
                <a class="nav-item nav-link" href="#">About</a>
                <a class="nav-item nav-link" href="#">Blog</a>
                <a class="nav-item nav-link" href="#">Projects</a>
                <a class="nav-item nav-link" href="#">Contact</a>
            </div>
        </div>
    </div>
</nav>