footer  {
    /* page positioning */
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    /* text appearance and positioning */
    font-size: .825rem;
    text-align: center;
    opacity: 0.7;
}

p {
    margin-top: 15px;
    color: white;
}