#name {
    min-height: 50vh;
    position: relative;
}

#name-content {
    bottom: 40px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#title-content {
    margin-top: -45px;
}

h1 {
    font-size: 2rem;
}

h2 {
    color: purple;
    font-size: 1.625rem;
}