.homepage {
    height: calc(100vh - 6.375rem);
    display: flex;
    justify-content: center;
    align-items: center;

    .homepage_container {
        text-align: center;
        .homepage_title {
            h1 {
                margin-bottom: 0;
            }
        }

        .homepage_subtitle {
            h2 {
                color: #1c1c84;
            }
        }
    }
}