<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 id="contactheader">Contact Me</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 messagegroup">
            <form action="https://formspree.io/mwknrbvn" method="POST">
                <mat-form-field class="formItem">
                    <mat-label>Name</mat-label>
                    <input matInput name="name" id="name">
                </mat-form-field>
                <mat-form-field class="formItem">
                    <mat-label>E-Mail</mat-label>
                    <input matInput type="email" name="_replyto" id="email">
                </mat-form-field>
                <mat-form-field class="formItem" appearance="fill">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput name="message" placeholder="Your message here"></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" class="form-group">Submit</button>
            </form>
        </div>
        <!-- <div class="col-lg-5">
            <h2 class="messageheaderd">Other ways to contact me...</h2>
        </div> -->
        <div class="col-lg-4"></div>
    </div>
</div>
