<div id="buffer" class="container">
    <div class="row">
        <div id="smallheader" class="d-lg-none col-12 text-center">
            <h1>About Me</h1>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded-circle mx-auto d-block" src="../../../assets/images/nateowen.jpeg">
        </div>
        <div class="col-lg-6">
            <h1 class="d-none d-lg-block text-center">About Me</h1>
            <p id="abouttext">Hello! My name is Nate Owen, and I am a software engineer in Richmond, Virginia. 
            I have been programming since 2017, and I enjoy every minute of it. 
            I not only specialize in .NET development, but also utilize technologies such as Angular, Docker, AWS, Golang and many more.</p>
            <br/>
            <p>In my free time, I enjoy reading, making a good cup of coffee and traveling. 
            Feel free to check out my <a [routerLink]="['/projects']">projects</a> or <a [routerLink]="['/contact']">contact me</a> via one of the methods on the Contact page. 
            Thanks for stopping by!</p>
        </div>
    </div>
</div>
