<div class="container-fluid mh-100">
    <div class="row">
        <div class="col-12">
            <h1 id="blogheader">nateowen.net Blog</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3 mh-100" id="filtersearch">
            <div class="form-group" id="filtersearch">
                <label for="searchInput">Search</label>
                <input type="text" class="form-control" id="searchInput" placeholder="Search for a blog post">
            </div>

            <!-- <div class="form-group" id="filtersearch">
                <label for="searchInput">Filter</label>
                <input type="text" class="form-control" id="searchInput" placeholder="Search for a blog post">
            </div> -->
        </div>
        
        <div class="col-9">

            <div *ngIf='blogPosts && blogPosts.length > 0'>
                <div *ngFor='let blogPost of blogPosts'>
                    <div class="jumbotron">
                        <h1 class="display-5">blogPost.PostTitle</h1>
                        <p class="lead">blogPost.PostSubTitle</p>
                    </div>
                </div>
            </div>

            <div *ngIf='!blogPosts || blogPosts.length == 0'>
                <h1 class="display-7 text-center">There are currently no posts available.</h1>
            </div>
        </div>
    </div>
</div>


