<div class="container-fluid mh-100">
    <div class="row">
        <div class="col-12">
            <h1 id="blogheader">nateowen.net Blog</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3 mh-100" id="filtersearch">
            <div class="form-group" id="filtersearch">
                <label for="searchInput">Search</label>
                <input type="text" class="form-control" id="searchInput" placeholder="Search for a blog post">
            </div>

            <div class="form-group" id="filtersearch">
                <label for="searchInput">Filter</label>
                <input type="text" class="form-control" id="searchInput" placeholder="Search for a blog post">
            </div>
        </div>
        
        <div class="col-9">
            <div class="jumbotron">
                <h1 class="display-5">What's new in Entity Framework Core 4</h1>
                <p class="lead">Everything that Microsoft announced this week.</p>
            </div>
            
            <div class="jumbotron">
                <h1 class="display-5">How to create a Docker container</h1>
                <p class="lead">Everything you need to know to get up a running.</p>
            </div>
        </div>
    </div>
</div>


